*{box-sizing: border-box;
   border:0px double black;
   color:#002261;}
div{border:0px black solid;}
body{margin:0;}
body{background-color:#87cefa;}
.brd{
    border: 0px double #7fc7ff;
    padding: 10px;
    background-color:#7fc7ff;
    background-size:cover ;
    width: 1024PX;
    margin: 0 auto; 
    border-radius: 8px;}

 .brd1{border: 0px double #7fc7ff ;
    height:100%;
    background-color:#7fc7ff;
    background-size:cover ;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;}

    .brd2{
    position: fixed;
    width:100% ;
    top: 20px;
    border: #000 0px solid;
    background:#75c1ff;
    padding: 10px 30px;
    border-radius: 5px;
    top: 0;
    text-align: center;
    }
   
 
}

